:root {
    --def-bg: rgb(40, 39, 43);
    --def-hdr-bg: rgb(28, 27, 31);
    --def-rnd-bg: rgb(48, 44, 59);
    --def-text-col: rgb(216, 216, 216);
    --def-head-text-col: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--def-bg);
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.defbg {
    background-color: var(--def-hdr-bg);
}

p {
    color: var(--def-text-col);
}

h1 {
    color: var(--def-head-text-col);
}

/* HEADER */

.header {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 0 0 12px 12px;
    position: absolute;
    width: 100%;
    top: 0;
    height: 90px;
}

.margin-left-20 {
    margin-left: 20px;
    margin-top: 20px;
}

.rnd-bg {
    background-color: var(--def-rnd-bg);
    width: max-content;
    padding: 8px;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;

    transition: all 0.25s cubic-bezier(.24,0,.72,1.6);
}

.rnd-bg:hover {
    background-color: rgb(139, 139, 0);
    transform: scale(1.1);
}

/* START */

#about-me {
    margin-top: 20px;
}

/* WAVESVG */

.waves {
    min-width: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#wave-svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ANIM */

.anim {
    margin-top: 120px;
    margin-left: 20px;
}

#mletter {
    animation: startAnim 0.2s;
}

#underline {
    animation: underLineAnim 2s linear infinite;
}

@keyframes underLineAnim {
    from {
        fill: none;
    }
    to {
        fill: white;
    }
}

@keyframes startAnim {
    from {
        transform: translateY(-60%);
    }
    to {
        transform: translateY(0%);
    }
}